.footer {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-family: 'Zen Maru Gothic', sans-serif;
}

.footer a {
  color: #00ca54;
  text-decoration: none;
  font-size: 20px;  
}

footer a:hover {
  color: #7e7e7e;
}

.vertical {
  margin: 0 10px 0 10px;
  font-size: 20px;
}

.ayear {
  color: #fff;
  margin-left: -8px;
  margin-right: -6px;
  margin-top: 10px;
  margin-bottom: -10px;
  padding: 20px;
  background-color: black;
}

.ayear div {
  display: flex;
  justify-content: center;
  align-items: center;
}