.fixed-background {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
 
.background-1 {
  background-image: url(../img/vscodecap.jpg);
}
 
.background-2 {
  background-image: url();
}